*{
    border:0;
    padding:0;
    margin:0;
}
/**animations**/
@keyframes fadeIn{
    from{opacity: 0;}to{opacity: 1;}
}
@keyframes fadeInDown{
    from{opacity: 0; margin-top: 5vh;}to{opacity: 1;margin-top: 22vh;}
}

html, body{
    overflow-x:hidden;
    width: 100%;
    font-family: 'Shadows Into Light Two', cursive;
}
@media(min-width:768px){
    ::-webkit-scrollbar{
    width: 6px;
    background-color: #efefef;
    }
    ::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background-color: #999;
    }
    ::-webkit-scrollbar-track{
    box-shadow: 1px 1px 20px -10px #222;
    }
    .mobile-nav{
        display: none;
    }
    #wrapper{
        background-position: top;
        background-attachment: fixed;
    }
    .main-logo h1{
        color: #888;
        font-size: 55px;
        font-weight: lighter;
        font-family: 'Shadows Into Light Two', cursive;
        letter-spacing: 0.8px;
        border-bottom: 1.8px solid;
        margin-bottom: 15px;
    }
    .main-logo p{
        color: #777;
        font-weight: 600;
        letter-spacing: .8px;
        font-size: 17px;
    }
    .main-logo{
        padding: 20px 5px 23px;
        text-align: center;
        width: 40%;
        margin: 22vh auto 100px auto;
        transition: 1s;
        animation: fadeInDown;
        animation-duration: 3s;
    }
}
/**navbar for desktops**/
.large-nav{
    width: 100%;
    display: inline-block;
}
.menu{
    margin-top: 34px;
    text-align: center;
}
.menu ul{
    list-style: none;
}
.menu li{
    display: inline-block;
    padding: 0 28px;
}
.menu ul a::before{
    width: 0.1px;
    height: 1px;
    content:"";
    top: 63px;
    background-color: #999;
    position: absolute;
    transition: 1s;
}
.menu ul a:hover::before{
    width: 90px;
}
.menu  ul a{
    text-decoration: none;
    color: #777;
}
.logo h1{
    font-weight: lighter;
    left: 0;
    margin-left: 32px;
    position: absolute;
    text-decoration: none;
    color: #777;
    
}
.large-nav .hire-button{
    position: absolute;
    right: 0;
    top: 0;
    margin: 30px 55px 0;    
}
.large-nav .hire-button button{
    background-color: transparent;
    padding: 10px 0;
}
.large-nav .hire-button a:hover{
    color: #fff;
    background-color: #888;
}
.large-nav .hire-button a{
    background-color: rgba(0,0,0,0);
    border: .6px solid #888;
    text-decoration: none;
    color: #666;
    letter-spacing: 3px;
    font-family: 'Shadows Into Light Two', cursive;
    padding: 10px 29px;
    transition-duration: .6s;
}
/**sections for large devices**/
@media(min-width: 768px){
    section{
        margin: auto;
        padding: 50px 0;
        color: #888;
        text-align: center;
        width: 100%;
        display: table;
    }
    .sections-content{
        text-align: center;
        margin: auto;
        padding: 10px 20% 50px;
    }
    /**for home**/
    .section-header{
        float: right;
        width: 45%;
        text-align: left;
        margin-top: 40px;
    }
    .section-side{
        float: right;
        width: 45%;
        text-align: left;
    }
    .section-middle{
        float: left;
        width: 47%;
    }
    .section-bottom{
        float: left;
        width: 100%;
    }
    #home .image-sofa-macbook{
        margin: 0 0 55px;
        width: 90%;
        opacity:.6;
    }
    .bottom-icon{
        width: 27px;
        opacity: .6;
    }
    /****the gorgeous vertical navigation****/
    #vertical-navigation{
        position: fixed;
        right: 0;
        top: 0;
        margin:35vh 7%;
        display: none;
        text-align: center;
        opacity: .7;
    }
    #vertical-navigation img{
        width: 8px;
    }
    #vertical-navigation li:hover{
        transform: scale(1.7);
    }
    #vertical-navigation img[data-icon="home"]{
        width: 20px;
    }
    #vertical-navigation a{
        padding: 10px;
    }
    #vertical-navigation li{
        list-style: none;
        padding: 10px;
        transition: .4s;
    }
    /**for about**/
    #about{
    background-color: #e9e9e9;
    }
    #about .image-me img{
        width: 31%;
        border-radius: 100%;
        margin: 60px 0 40px;
        opacity: .7;
    }
    /**for portfolio**/
    #portfolio{
        background-color: #e9e9e9;
    }
    #portfolio h3{
        padding-top: 45px;
    }
    .project1, .project2, .project3{
        height: 220px;
        width: 100%;
        background-color: #f7f5f2;
        margin: 50px 0;
        text-align: center;
        opacity: .7;
        box-shadow: 10px 9px 22px -13px #888;
    }
    /**contact**/
    .contact-links{
        margin-top: 40px; 
        letter-spacing: 2px;
        text-align: center;
    }
    .contact p{
        margin: 8px 0;
    }
    .contact-links a{
        margin: 10px;
        color: #888;
        text-decoration: none;
    }
    .social-medias{
        margin: 0 0 60px;
        text-align: center;
    }
    .social-medias div{
        margin: 10px;
        display: inline;
    }
    /**formulário de contato**/
    .contact-form{
        text-align: center;
        margin: 50px auto;
    }
    input, #message-input{
        margin: 15px 0;
        height: 25px;
        width: 80%;
        border-bottom: .1px solid #888;
    }
    #message-input{
        margin: 5px 0;
        width: 80%;
        height: 70px;
        border-bottom: .1px solid #999;
    }

    input:read-write, #message-input{
        color: #777;
        font-size: 15px;
        letter-spacing: 2px;
        padding: 10px 0 16px 4px;
        font-family: 'Shadows Into Light Two', cursive;
    }
    #form-submit{
        width: 100px;
        background-color: rgba(0,0,0,0);
        border: .6px solid #888;
        color: #666;
        letter-spacing: 3px;
        font-family: 'Shadows Into Light Two', cursive;
        padding: 10px;
        margin: 40px;
    }
    /**footer**/
    footer h5{
        text-align: center;
        font-size: 17px;
        color: #666;
        letter-spacing: 1.5px;
    }
    footer p{
        margin: 40px 0 10px;
        text-align: center;
        color: #999;
        font-size: 14px;
        font-family: serif;
        padding: 0 5%;
    }
    footer a{
        color: #666;
        text-decoration: none;
    }
    }
/**end of media queria for large devices**/



















